PUID=1000
PGID=1000
TZ=Etc/UTC
# Set umask to 002 to allow group write access (775)
# This is required so Bazarr can write subtitles
UMASK=002
# Database connection
DB_TYPE=postgres
DB_HOST=bazarr-db
DB_PORT=5432
DB_USER={{ p2p_bazarr_db_user }}
DB_PASSWORD={{ p2p_bazarr_db_password }}
DB_NAME={{ p2p_bazarr_db_name }}
