{
  "enabled": true,
  "options": {
    "emailFrom": "{{ p2p_smtp_sender }}",
    "senderName": "Overseerr",
    "smtpHost": "live.smtp.mailtrap.io:587",
    "smtpPort": 587,
    "secure": false,
    "ignoreTls": false,
    "requireTls": true,
    "authUser": "smtp@mailtrap.io",
    "authPass": "{{ p2p_smtp_api_key }}",
    "allowSelfSigned": false
  }
}

