{
  "username": "Requestor",
  "discordId": null,
  "locale": "it",
  "region": "IT",
  "originalLanguage": "",
  "movieQuotaLimit": null,
  "movieQuotaDays": null,
  "tvQuotaLimit": null,
  "tvQuotaDays": null,
  "watchlistSyncMovies": null,
  "watchlistSyncTv": null
}