{
  "enable": true,
  "protocol": "torrent",
  "priority": 1,
  "removeCompletedDownloads": true,
  "removeFailedDownloads": true,
  "name": "bittorrent.{{ internal_domain }}",
  "fields": [
    {
      "name": "host",
      "value": "bittorrent.{{ internal_domain }}"
    },
    {
      "name": "port",
      "value": "443"
    },
    {
      "name": "useSsl",
      "value": true
    },
    {
      "name": "urlBase"
    },
    {
      "name": "username",
      "value": "admin"
    },
    {
      "name": "password",
      "value": "{{ bittorrent_webui_decoded_password }}"
    },
    {
      "name": "tvCategory",
      "value": "movie-radarr"
    },
    {
      "name": "movieImportedCategory"
    },
    {
      "name": "recentMoviePriority",
      "value": 0
    },
    {
      "name": "olderMoviePriority",
      "value": 0
    },
    {
      "name": "initialState",
      "value": 0
    },
    {
      "name": "sequentialOrder",
      "value": false
    },
    {
      "name": "firstAndLast",
      "value": false
    },
    {
      "name": "contentLayout",
      "value": 0
    }
  ],
  "implementationName": "qBittorrent",
  "implementation": "QBittorrent",
  "configContract": "QBittorrentSettings",
  "infoLink": "https://wiki.servarr.com/radarr/supported#qbittorrent",
  "tags": []
}