[Unit]
Description=Persistent Loopback device for Linstor Datastore
DefaultDependencies=no
After=systemd-udev-trigger.service systemd-modules-load.service
Before=local-fs.target lvm2-monitor.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'if ! /sbin/losetup -j {{ linstor_backing_file_path }} | grep -q .; then /sbin/losetup -f {{ linstor_backing_file_path }}; fi'
ExecStop=/bin/sh -c 'DEV=$(/sbin/losetup -j {{ linstor_backing_file_path }} | cut -d: -f1); [ -n "$DEV" ] && /sbin/losetup -d "$DEV"'

[Install]
WantedBy=multi-user.target
