apiVersion: v1
kind: Namespace
metadata:
  name: {{ k8s_coder_namespace }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ k8s_coder_workspaces_namespace }}
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicy
metadata:
  name: coder-workspace-bwrap-apparmor
spec:
  matchConstraints:
    resourceRules:
      - apiGroups: [""]
        apiVersions: ["v1"]
        operations: ["CREATE"]
        resources: ["pods"]

  matchConditions:
    - name: coder-workspace-namespace
      expression: 'object.metadata.namespace == "{{ k8s_coder_workspaces_namespace }}"'

    - name: bwrap-workspace
      expression: 'has(object.metadata.labels) && "security.coder.dev/bwrap" in object.metadata.labels && object.metadata.labels["security.coder.dev/bwrap"] == "true"'

  reinvocationPolicy: IfNeeded
  failurePolicy: Fail

  mutations:
    - patchType: ApplyConfiguration
      applyConfiguration:
        expression: >
          Object{
            spec: Object.spec{
              hostUsers: false,
              containers: object.spec.containers.map(container,
                Object.spec.containers{
                  name: container.name,
                  securityContext: Object.spec.containers.securityContext{
                    procMount: "Unmasked",
                    appArmorProfile: Object.spec.containers.securityContext.appArmorProfile{
                      type: "Localhost",
                      localhostProfile: "coder-workspace"
                    }
                  }
                }
              )
            }
          }
---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingAdmissionPolicyBinding
metadata:
  name: coder-workspace-bwrap-apparmor
spec:
  policyName: coder-workspace-bwrap-apparmor

  matchResources:
    namespaceSelector:
      matchLabels:
        kubernetes.io/metadata.name: {{ k8s_coder_workspaces_namespace }}
