apiVersion: v1
kind: Secret
metadata:
  name: coder-credentials
  namespace: {{ k8s_coder_namespace }}
type: Opaque
stringData:
  connection-url: "postgresql://{{ coder_db_user }}:{{ coder_db_password }}@{{ coder_db_host }}:{{ coder_db_port }}/{{ coder_db_name }}?sslmode=require"
  oidc-client-secret: "{{ __coder_zitadel_client_secret | default('') }}"
