apiVersion: v1
kind: Secret
metadata:
  name: "{{ __k8s_db_cluster_name }}-backup-credentials"
  namespace: "{{ k8s_db_cluster_namespace }}"
type: Opaque
stringData:
  ACCESS_KEY_ID: "{{ k8s_db_backup_r2_access_key_id }}"
  SECRET_ACCESS_KEY: "{{ k8s_db_backup_r2_secret_access_key }}"
