apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ __k8s_db_cluster_name }}
  namespace: {{ k8s_db_cluster_namespace }}
spec:
  instances: 3

  bootstrap:
    initdb:
      database: {{ __k8s_db_cluster_name }}
      owner: {{ __k8s_db_db_user }}
      secret:
        name: {{ __k8s_db_secret_name }}

  affinity:
    podAntiAffinityType: required

  storage:
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: {{ __k8s_db_storage_size }}
      storageClassName: local-storage
      selector:
        matchLabels:
          cnpg.io/cluster: {{ __k8s_db_cluster_name }}

  type: rw

{% if __k8s_db_resources is defined %}
  resources:
    {{ __k8s_db_resources | to_nice_yaml(indent=2) | indent(4) }}
{% endif %}
{% if __k8s_db_priority_class_name is defined %}
  priorityClassName: {{ __k8s_db_priority_class_name }}
{% endif %}


  serviceTemplate:
    spec:
      type: LoadBalancer

  managed:
    services:
      disabledDefaultServices: ["ro", "r"]
      additional:
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: "{{ __k8s_db_cluster_name }}-lb"
            spec:
              type: LoadBalancer

{% if __k8s_db_backup_enabled | default(false) | bool %}
  backup:
    target: "primary"
    retentionPolicy: "{{ __k8s_db_retention_policy }}"
    barmanObjectStore:
      destinationPath: "s3://{{ __k8s_db_backup_s3_bucket }}/{{ k8s_db_cluster_namespace }}/{{ __k8s_db_cluster_name }}"
      endpointURL: "{{ k8s_db_backup_s3_endpoint }}"
      s3Credentials:
        accessKeyId:
          name: "{{ __k8s_db_cluster_name }}-backup-credentials"
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: "{{ __k8s_db_cluster_name }}-backup-credentials"
          key: SECRET_ACCESS_KEY
      data:
        compression: "{{ k8s_db_backup_compression | default('gzip') }}"
      wal:
        compression: "{{ k8s_db_backup_compression | default('gzip') }}"
{% endif %}



