apiVersion: v1
kind: Secret
metadata:
  name: "{{ __k8s_db_cluster_name }}-credentials"
  namespace: "{{ k8s_db_cluster_namespace }}"
type: Opaque
stringData:
  username: "{{ __k8s_db_db_user }}"
  password: "{{ __k8s_db_db_password }}"