CODER_PG_CONNECTION_URL=postgresql://{{ coder_db_user }}:{{ coder_db_password }}@coder-db/{{ coder_db_name }}?sslmode=disable
CODER_HTTP_ADDRESS=0.0.0.0:7080
CODER_ACCESS_URL={{ _coder_fqdn }}
CODER_OIDC_ISSUER_URL=https://idp.{{ internal_domain }}
CODER_OIDC_CLIENT_ID={{ coder_idp_client_id }}
CODER_OIDC_CLIENT_SECRET={{ coder_idp_client_secret }}
CODER_DISABLE_PASSWORD_AUTH=false
# To test the OIDC claims, use the link below
# https://coder.glab.casa/api/v2/debug/<USERNAME>/debug-link
CODER_OIDC_USER_ROLE_FIELD=groups
CODER_OIDC_USER_ROLE_MAPPING={"admin": ["owner"]}
CODER_OIDC_ALLOW_SIGNUPS=false
