CODER_PG_CONNECTION_URL=postgresql://{{ coder_db_user }}:{{ coder_db_password }}@coder-db/{{ coder_db_name }}?sslmode=disable
CODER_HTTP_ADDRESS=0.0.0.0:7080
CODER_ACCESS_URL=https://coder.{{ internal_domain }}