---
- name: Install apt key
  ansible.builtin.apt_key:
    keyring: /etc/apt/trusted.gpg.d/home_alvistack.gpg
    url: http://downloadcontent.opensuse.org/repositories/home:/alvistack/xUbuntu_24.04/Release.key
    id: 789CFFDE0295B8A1F4E5690C4BECC97550D0B1FD
    state: present

- name: Add apt repository
  ansible.builtin.apt_repository:
    filename: home:alvistack
    repo: deb http://downloadcontent.opensuse.org/repositories/home:/alvistack/xUbuntu_24.04/ /
    state: present

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Create /usr/libexec/podman directory
  ansible.builtin.file:
    path: /usr/libexec/podman
    state: directory
    mode: "0755"

- name: Download netavark archive
  ansible.builtin.get_url:
    url: https://github.com/containers/netavark/releases/download/{{ containers_netavark_version }}/netavark.gz
    dest: /tmp/netavark_{{ containers_netavark_version }}.gz
    mode: "0644"

- name: Uncompress netavark
  ansible.builtin.command:
    cmd: gunzip -d -k -f /tmp/netavark_{{ containers_netavark_version }}.gz

- name: Copy netavark executable
  ansible.builtin.copy:
    src: /tmp/netavark_{{ containers_netavark_version }}
    dest: /usr/libexec/podman/netavark
    remote_src: true
    mode: "0755"

- name: Make netavark executable
  ansible.builtin.file:
    path: /usr/libexec/podman/netavark
    mode: "0755"

# uidmap is required by podman for non root user
- name: Install uidmap
  ansible.builtin.package:
    name: uidmap
    state: present

# passt is required to install Pasta used by podman for non root user
- name: Install Pasta
  ansible.builtin.package:
    name: passt
    state: present

# Alternative option to Pasta. It seems that there are a few issues with some release of pasta
# when working with rootless containers
- name: Install slirp4netns
  ansible.builtin.package:
    name: slirp4netns
    state: present

- name: Pin podman version to 5.x releases
  ansible.builtin.copy:
    dest: /etc/apt/preferences.d/podman-pin
    content: |
      Package: podman
      Pin: version 5.*
      Pin-Priority: 1001 # Forced Installation
    mode: "0644"
  notify: Update apt cache

- name: Install podman
  ansible.builtin.package:
    name: podman
    state: present

- name: Install podman-docker
  ansible.builtin.package:
    name: podman-docker
    state: present

- name: Install aardvark-dns
  ansible.builtin.package:
    name: aardvark-dns
    state: present

- name: Create /etc/containers/nodocker
  ansible.builtin.file:
    path: /etc/containers/nodocker
    state: touch
    mode: "0644"

- name: Create directory {{ containers_storage_dir }}
  ansible.builtin.file:
    path: "{{ containers_storage_dir }}"
    state: directory
    mode: "0711"

- name: Create directory {{ containers_ephemeral_dir }}
  ansible.builtin.file:
    path: "{{ containers_ephemeral_dir }}"
    state: directory
    mode: "0711"

# Reference https://github.com/containers/podman/blob/main/vendor/github.com/containers/storage/storage.conf
- name: Create /etc/containers/storage.conf
  ansible.builtin.copy:
    dest: /etc/containers/storage.conf
    content: |
      [storage]
      driver = "overlay"

      # Primary Read/Write location of container storage
      graphroot = "{{ containers_storage_dir }}"

      # Temporary storage location
      runroot = "{{ containers_ephemeral_dir }}"
    mode: "0640"

- name: Ensure group containters exists
  ansible.builtin.group:
    name: containers
    state: present

- name: Ensure group containters exists
  ansible.builtin.group:
    name: docker
    state: present

- name: Ensure podman.socket.d exists
  ansible.builtin.file:
    path: /etc/systemd/system/podman.socket.d
    mode: "0740"
    state: directory

- name: Ensure Podman socket overrides are present
  ansible.builtin.copy:
    dest: /etc/systemd/system/podman.socket.d/socket-group.conf
    content: |
      [Socket]
      SocketGroup=containers
    mode: "0640"
  notify:
    - Reload systemd daemon
    - Restart podman.socket service

- name: Ensure podman.service.d exists
  ansible.builtin.file:
    path: /etc/systemd/system/podman.service.d
    mode: "0740"
    state: directory

- name: Set Podman log level to warn
  ansible.builtin.copy:
    content: |
      [Service]
      Environment=LOGGING="--log-level=warn"
    dest: /etc/systemd/system/podman.service.d/logging.conf
    mode: "0640"
  notify:
    - Reload systemd daemon
    - Restart podman service

- name: Ensure Docker socket is assigned to the right group
  ansible.builtin.copy:
    # override /usr/lib/tmpfiles.d/podman-docker.conf
    dest: /etc/tmpfiles.d/podman-docker.conf
    content: L+  %t/docker.sock   -    root    containers     -   %t/podman/podman.sock

- name: Set sysctl container flags
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/60-containers-tuning.conf
    state: present
    reload: true
  loop:
    # Increase the value to avoid hitting "too many open files" errors
    - { key: "fs.inotify.max_user_instances", value: "4096" }
    - { key: "fs.inotify.max_queued_events", value: "32768" }
    - { key: "fs.inotify.max_user_watches", value: "524288" }
