apiVersion: apps/v1
kind: Deployment
metadata:
  name: netbird-{{ netbird_node_name }}
  namespace: {{ k8s_netbird_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: netbird-{{ netbird_node_name }}
  template:
    metadata:
      labels:
        app: netbird-{{ netbird_node_name }}
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: netbird
          image: netbirdio/netbird:{{ netbird_node_version }}
          env:
            - name: NB_MANAGEMENT_URL
              value: "https://netbird.{{ internal_domain }}:443"
            - name: NB_ADMIN_URL
              value: "https://netbird.{{ internal_domain }}:443"
            - name: NB_HOSTNAME
              value: "{{ netbird_node_hostname }}"
            - name: NB_INTERFACE_NAME
              value: "{{ netbird_node_interface }}"
            - name: NB_SETUP_KEY
              valueFrom:
                secretKeyRef:
                  name: netbird-{{ netbird_node_name }}-secret
                  key: setup-key
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_ADMIN
                - SYS_RESOURCE
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - "netbird status | grep -q 'Management: Connected'"
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 6
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - "netbird status | grep -q 'Management: Connected'"
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: 125m
              memory: 128Mi
            limits:
              cpu: 2
              memory: 4Gi
          volumeMounts:
            - name: tun
              mountPath: /dev/net/tun

      volumes:
        - name: tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
