apiVersion: apps/v1
kind: Deployment
metadata:
  name: netbird-jump-node
  namespace: {{ k8s_netbird_namespace }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: netbird-jump-node
  template:
    metadata:
      labels:
        app: netbird-jump-node
    spec:
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: netbird
          image: netbirdio/netbird:{{ k8s_netbird_jump_node_version }}
          env:
            - name: NB_MANAGEMENT_URL
              value: "https://netbird.{{ internal_domain }}:443"
            - name: NB_ADMIN_URL
              value: "https://netbird.{{ internal_domain }}:443"
            - name: NB_HOSTNAME
              value: "netbird-jump-node-k8s"
            - name: NB_INTERFACE_NAME
              value: "wt-jump"
            - name: NB_SETUP_KEY
              valueFrom:
                secretKeyRef:
                  name: netbird-jump-node-secret
                  key: setup-key
          securityContext:
            privileged: true
            capabilities:
              add:
                - NET_ADMIN
                - SYS_ADMIN
                - SYS_RESOURCE
          volumeMounts:
            - name: tun
              mountPath: /dev/net/tun
      volumes:
        - name: tun
          hostPath:
            path: /dev/net/tun
            type: CharDevice
