ZITADEL_EXTERNALDOMAIN=idp.{{ internal_domain }}
ZITADEL_EXTERNALSECURE=true
ZITADEL_EXTERNALPORT=443
ZITADEL_TLS_ENABLED=false
ZITADEL_DATABASE_POSTGRES_HOST=zitadel-db
ZITADEL_DATABASE_POSTGRES_PORT=5432
# The database will be created by Zitadel
ZITADEL_DATABASE_POSTGRES_DATABASE=zitadeldata
ZITADEL_DATABASE_POSTGRES_USER_USERNAME={{ __idp_zitadel_db_user }}
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD={{ idp_zitadel_db_password }}
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=disable
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME={{ __idp_zitadel_db_admin_user }}
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD={{ idp_zitadel_db_admin_password }}
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=disable
ZITADEL_FIRSTINSTANCE_ORG_NAME=idp.{{ internal_domain }}
ZITADEL_FIRSTINSTANCE_MACHINEKEYPATH=/machinekey/zitadel-admin-sa.json
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_USERNAME=zitadel-admin-sa
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME=Admin
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINEKEY_TYPE=1
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME=admin@idp.{{ internal_domain }}
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD={{ idp_zitadel_admin_password }}
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORDCHANGEREQUIRED=false
