#!/usr/bin/env bash

# Temporary fix to restore access via VPN
sed -i 's/.*DataStoreEncryptionKey.*/\"DataStoreEncryptionKey\": \"\",/g' /app/netbird-mgmt/conf/netbird-mgmt.json

ROOT_DIR="/app/auto-ansible"

source "${ROOT_DIR}/python-env/bin/activate"

echo "Pulling latest changes from git"
git -C "${ROOT_DIR}/repo" pull
BWS_TOKEN=$(cat "${ROOT_DIR}/config/bws_access_token")

echo "Running ansible playbook"
BWS_ACCESS_TOKEN="${BWS_TOKEN}" ansible-playbook --connection=local --inventory "172.16.255.254," --limit "172.16.255.254" "${ROOT_DIR}/repo/ansible/setup_homelab.yaml" -i "${ROOT_DIR}/repo/ansible/inventory/home.yaml" -v