---
- name: Reload systemd daemon
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart podman.socket service
  ansible.builtin.systemd_service:
    name: podman.socket
    state: restarted

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
