# Update every 300 seconds
daemon=300

# Use web based IP detection
use=web

protocol=porkbun
apikey={{ network_porkbun_api_key }}
secretapikey={{ network_porkbun_secret_key }}
ingress.{{ internal_domain }}