# Clean existing table and preserve docker tables

# Avoid delete to fail
table ip custom_nat {
  chain nat_postrouting {}
}

delete chain ip custom_nat nat_postrouting

table ip firewall
delete table ip firewall

table ip mss
delete table ip mss

# Only contains the persistent postrouting chain.
# The prerouting and output chains for the VIP are loaded dynamically by Keepalived.
table ip custom_nat {
  # for all packets to WAN, after routing,
  # replace source address with primary IP of WAN interface
  chain nat_postrouting {
    type nat hook postrouting priority 100; policy accept;
    oifname ftth masquerade
  }
}

# Since we are using PPPOE, the packet size of TCP must be adjusted
# Not all client can adjusted the max MTU and TCP MSS, therefore
# we do it at the router level
table ip mss {
  chain mss_forward {
    type filter hook forward priority filter; policy accept;
    tcp flags syn tcp option maxseg size set rt mtu
  }
}

table ip firewall {

  include "/app/nftables-geoip/ip-lists/geoip-def-all.nft"
  include "/app/nftables-geoip/ip-lists/geoip-ipv4-interesting.nft"
  define ALLOWED_COUNTRIES = { $IT, $IE, $US }

  chain dispatcher {
    type filter hook input priority 1000;
    iif lo accept comment "always accept loopback"
    iifname ftth jump public_traffic # ftth is the interface name
    iifname {{ internal_interface }} jump internal_traffic
    iifname "podman*" jump container_traffic
    log prefix "Unmatched interface "
    reject
  }

  # Drop all traffic from internet if not initiated from internal network
  chain public_traffic {
    meta mark set ip saddr map @geoip4
    ct state {established,related} accept
    ct state invalid log prefix "Invalid state " drop
    # Filter packet not coming from allowed countries checking the meta mark
    # set by geoip4. Geoblocking must be performed after the connection tracker
    # state to avoid blocking legit traffic
    meta mark != $ALLOWED_COUNTRIES log prefix "Banned country " drop
    # Accept traffic to system ingress
    ip daddr {{ internal_ip_address }} tcp dport { 9080, 9443 } accept
    # Accept traffic for STUN/TURN
    ip daddr {{ internal_ip_address }} udp dport 3478 accept
    ip daddr {{ internal_ip_address }} tcp dport 5349 accept
    log prefix "Public unknown traffic " drop
  }

  chain internal_traffic {
    accept
  }

  chain container_traffic {
    accept
  }

  chain output_traffic {
    type filter hook output priority 1000;
    accept
  }
}
