# This ruleset is loaded by keepalived on the MASTER node.
# It defines the chains and rules for handling VIP traffic.

table ip custom_nat {
  chain nat_prerouting {
    type nat hook prerouting priority 0; policy accept;

    # Forward external traffic to host ingress (Traefik)
    iifname { ftth } tcp dport { http } dnat to {{ network_gateway_virtual_ip }}:9080
    iifname { ftth } tcp dport { https } dnat to {{ network_gateway_virtual_ip }}:9443
    # Forward external traffic for STUN/TURN
    iifname { ftth } udp dport { 3478 } dnat to {{ network_gateway_virtual_ip }}:3478
    iifname { ftth } tcp dport { 5349 } dnat to {{ network_gateway_virtual_ip }}:5349
    # Forward local traffic to host ingress (Traefik)
    ip daddr {{ network_gateway_virtual_ip }} tcp dport { http } dnat to {{ network_gateway_virtual_ip }}:8081
    ip daddr {{ network_gateway_virtual_ip }} tcp dport { https } dnat to {{ network_gateway_virtual_ip }}:8443
    # Forward internal DNS over TLS/QUIC traffic to Traefik
    iifname { {{ internal_interface }} } tcp dport { 853 } dnat to {{ network_gateway_virtual_ip }}:8853
    iifname { {{ internal_interface }} } udp dport { 853 } dnat to {{ network_gateway_virtual_ip }}:8854
    # Forward internal DNS traffic to the local resolver
    iifname { {{ internal_interface }} } udp dport 53 dnat to {{ internal_ip_address }}:53
    iifname { {{ internal_interface }} } tcp dport 53 dnat to {{ internal_ip_address }}:53
  }

  chain nat_output {
    type nat hook output priority 0; policy accept;

    # port-forward traffic originated by the router itself
    ip daddr {{ network_gateway_virtual_ip }} tcp dport { http } redirect to 8081
    ip daddr {{ network_gateway_virtual_ip }} tcp dport { https } redirect to 8443
  }
}