groups:
- name: System
  rules:
  - expr: count by (job) (sum by (job, cpu) (node_cpu_seconds_total))
    record: node_num_cpu
  - alert: HostHighCpuLoad
    expr: 1 - (sum by (job) (rate(node_cpu_seconds_total{mode="idle"}[1m]))) / node_num_cpu > 0.80
    for: 15m
    annotations:
      summary: Host high CPU load (instance {{ '{{' }} $labels.job {{ '}}' }})
      description: "CPU load is > 80%\n  VALUE = {{ '{{' }}  $value {{ '}}' }}\n  LABELS = {{ '{{' }}  $labels {{ '}}' }}"
  - alert: HostNoWeeklyReboot
    # 619200 = 7 days and 4 hours
    expr: sum by (job) (node_time_seconds - node_boot_time_seconds) > 619200
    annotations:
      summary: Host did not complete weekly reboot (instance {{ '{{' }} $labels.job {{ '}}' }}).
      description: "Host has not been rebooted for {{ '{{' }}  $value {{ '}}' }} seconds."
  - alert: HostLowFreeSpace
    expr: sum by (job, mountpoint) (((node_filesystem_avail_bytes{device!~"tmpfs",mountpoint!~"/boot.*"}) / node_filesystem_size_bytes) * 100) < 20
    for: 30m
    annotations:
      summary: Host has low free disk space (instance {{ '{{' }} $labels.job {{ '}}' }})
      description: "Host {{ '{{' }} $labels.job {{ '}}' }} has {{ '{{' }}  $value {{ '}}' }} remaining free disk space for {{ '{{' }} $labels.mountpoint {{ '}}' }}"
