---
{% set docker_logs_command %}
{%- raw -%}
/config/scripts/docker-logs.sh --container "{{container_name}}" {{tail_50}} --grep "{{grep_filter}}"
{%- endraw -%}
{% endset %}

authRequireGuestsToLogin: true
authLocalUsers:
  enabled: false
accessControlLists:
  - name: admins
    permissions:
      view: true
      exec: true
      logs: true
    matchUsergroups:
      - admin
    addToEveryAction: true
    policy:
      showDiagnostics: true
      showLogList: true
defaultPolicy:
  showDiagnostics: false
  showLogList: false
defaultPermissions:
  view: false
  exec: false
  logs: false
authOAuth2RedirectURL: https://remote-control.{{ internal_domain }}/oauth/callback
authOAuth2Providers:
  zitadel:
    name: zitadel
    title: Zitadel
    clientID: "{{ remote_control_oauth2_client_id }}"
    clientSecret: "{{ remote_control_oauth2_client_secret }}"
    authURL: https://idp.{{ internal_domain }}/oauth/v2/authorize
    tokenURL: https://idp.{{ internal_domain }}/oauth/v2/token
    whoamiURL: https://idp.{{ internal_domain }}/oidc/v1/userinfo
    usernameField: preferred_username
    userGroupField: single-group
    scopes:
      -  openid
      -  profile
      -  email
      -  offline_access
      -  api

actions:
  - title: List Running Containers
    shell: DOCKER_HOST=docker-socket-proxy-ro:2375 docker ps
    timeout: 30

  - title: View Container Logs
    shell: |
      {{ docker_logs_command | indent(2, true) }}
    timeout: 30
    popupOnStart: execution-dialog
    arguments:
      - name: container_name
        title: Container Name
        type: ascii_identifier
        description: Name of the Docker container
      - name: tail_50
        title: Show last 50 lines only
        type: checkbox
        choices:
          - title: 1
            value: "--tail"

          - title: 0
            value: ""
        description: Limit output to the last 50 log lines
      - name: grep_filter
        title: Filter logs (grep pattern)
        type: ascii_identifier
        description: Optional grep pattern to filter logs
        default: ""

logLevel: "INFO"
insecureAllowDumpOAuth2UserData: false