---
- name: Check if Coder admin API token exists
  ansible.builtin.stat:
    path: "{{ coder_conf_dir }}/coder_admin_api_token"
  register: _coder_api_token_file

# The health endpoint requires an authentication token. The token will not be available during
# the first run, in this case we will just check if the endpoint is responding without checking
# the actual content.

# Block for when the API token is found
- name: Perform authenticated health check if token exists
  when: _coder_api_token_file.stat.exists
  block:
    - name: Read Coder API token for health check
      ansible.builtin.slurp:
        src: "{{ coder_conf_dir }}/coder_admin_api_token"
      register: _coder_api_token_file_content

    - name: Set Coder API token fact
      ansible.builtin.set_fact:
        _coder_api_token: "{{ _coder_api_token_file_content['content'] | b64decode }}"

    - name: Wait for Coder deployment to be healthy (authenticated)
      ansible.builtin.uri:
        url: "{{ _coder_internal_url }}/api/v2/debug/health"
        method: GET
        status_code: 200
        return_content: true
        headers:
          Accept: application/json
          Coder-Session-Token: "{{ _coder_api_token }}"
      register: _coder_health_check
      until: _coder_health_check.json.healthy | default(false)
      retries: 36 # 180 seconds / 5 seconds per retry = 36 retries
      delay: 5 # Wait 5 seconds between retries

# Block for when the API token is NOT found (initial setup)
- name: Perform unauthenticated health check if no token exists
  when: not _coder_api_token_file.stat.exists
  block:
    - name: Wait for Coder service to become responsive
      ansible.builtin.uri:
        url: "{{ _coder_internal_url }}/api/v2/debug/health"
        method: GET
        status_code: [200, 401, 403] # Success if API is responsive (even if auth is required)
        headers:
          Accept: application/json
      register: _coder_health_check
      until: _coder_health_check.status in [200, 401, 403]
      retries: 36
      delay: 5

# The rest of the playbook remains the same
- name: Query Coder for existing first User
  ansible.builtin.uri:
    url: "{{ _coder_internal_url }}/api/v2/users/first"
    status_code: [200, 404]
    return_content: true
    headers:
      Accept: application/json
  register: _coder_first_user_response

- name: Set first user fact
  ansible.builtin.set_fact:
    _coder_first_user: "{{ _coder_first_user_response.status == 200 }}"
    # 404 is a valid response only if the message contains a field message with the content
    # "The initial user has not been created!"
    _coder_is_first_user_valid_response: "{{ _coder_first_user_response.status == 200 or (_coder_first_user_response.status == 404 and 'created' in _coder_first_user_response.json.message) }}"

- name: Abort if the first user response is not valid
  ansible.builtin.fail:
    msg: "Error: the query to /api/v2/users/first returned an invalid response"
  when: not _coder_is_first_user_valid_response

- name: Create first user and API token
  when: not _coder_first_user
  block:
    - name: Create first user
      ansible.builtin.uri:
        url: "{{ _coder_internal_url }}/api/v2/users/first"
        method: POST
        status_code: 201
        body: "{{ lookup('ansible.builtin.template', 'create-first-user-body-request.json.j2') }}"
        body_format: json
        headers:
          Accept: application/json
          Content-Type: application/json

    - name: Login to coder
      ansible.builtin.uri:
        url: "{{ _coder_internal_url }}/api/v2/users/login"
        method: POST
        status_code: 201
        body: "{{ lookup('ansible.builtin.template', 'login-body-request.json.j2') }}"
        body_format: json
        return_content: true
        headers:
          Accept: application/json
          Content-Type: application/json
      register: _coder_login_response

    - name: Set Coder session token
      ansible.builtin.set_fact:
        _coder_session_token: "{{ _coder_login_response.json.session_token }}"

    - name: Generate API key
      ansible.builtin.uri:
        url: "{{ _coder_internal_url }}/api/v2/users/admin/keys/tokens"
        method: POST
        status_code: 201
        return_content: true
        body_format: json
        body: "{{ lookup('ansible.builtin.template', 'create-api-key-body-request.json.j2') }}"
        headers:
          Accept: application/json
          Content-Type: application/json
          Coder-Session-Token: "{{ _coder_session_token }}"
      register: _coder_api_key_response

    # Save the token on the disk for future use
    - name: Save API key
      ansible.builtin.copy:
        content: "{{ _coder_api_key_response.json.key }}"
        dest: "{{ coder_conf_dir }}/coder_admin_api_token"
        owner: root
        group: root
        mode: "0400"
