---
- name: Gather the list of installed systemd services
  ansible.builtin.service_facts:

- name: Disable BIND9 and its variants if they exist
  block:
    # List of common service names for BIND on Debian/Ubuntu systems.
    # 'bind9' is the main service unit, 'named' is often a symlink or alias.
    # Other variations are less common but included for completeness.
    - name: Stop and disable BIND services
      ansible.builtin.service:
        name: "{{ item }}"
        state: stopped
        enabled: no
      loop:
        - named
        - bind9
        - named-chroot
      when: "item in ansible_facts.services"

  rescue:
    - name: BIND service check resulted in an error (informational)
      ansible.builtin.debug:
        msg: "Could not disable one of the BIND services, which is expected if it was not installed. No action needed."

- name: Create /app/adguardhome/work directory
  ansible.builtin.file:
    path: /app/adguardhome/work
    state: directory
    mode: "0700"
    owner: root
    group: root

- name: Create /app/adguardhome/conf directory
  ansible.builtin.file:
    path: /app/adguardhome/conf
    state: directory
    mode: "0700"
    owner: root
    group: root

- name: Copy AdGuardHome.yaml configuration
  ansible.builtin.template:
    src: AdGuardHome.yaml.j2
    dest: /app/adguardhome/conf/AdGuardHome.yaml
    mode: "0600"
    owner: root
    group: root
    backup: yes
  notify: Restart AdGuard Home service

- name: Create adguardhome.service file
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=Podman container-adguardhome.service
      Documentation=man:podman-generate-systemd(1)
      Wants=network-online.target
      After=network-online.target
      RequiresMountsFor=%t/containers

      [Service]
      Environment=PODMAN_SYSTEMD_UNIT=%n
      Restart=on-failure
      TimeoutStopSec=70
      ExecStart=/usr/bin/podman run \
              --cidfile=%t/%n.ctr-id \
              --cgroups=no-conmon \
              --rm \
              --sdnotify=conmon \
              --replace \
              -d \
              --name adguardhome \
              -v /app/adguardhome/work:/opt/adguardhome/work \
              -v /app/adguardhome/conf:/opt/adguardhome/conf \
              -p {{ internal_ip_address }}:53:53/tcp \
              -p {{ internal_ip_address }}:53:53/udp \
              --label="traefik.enable=true" \
              --label="traefik.http.routers.adguard.rule=Host(`adguard.{{ internal_domain }}`)" \
              --label="traefik.http.routers.adguard.entrypoints=websecure" \
              --label="traefik.http.routers.adguard.tls.certresolver=letsencrypt" \
              --label="traefik.http.routers.adguard.tls.domains[0].main=adguard.{{ internal_domain }}" \
              --label="traefik.http.routers.adguard.service=adguard" \
              --label="traefik.http.services.adguard.loadbalancer.server.port=3000" \
              --label="traefik.http.routers.adguard-doh.rule=Host(`adguard.{{ internal_domain }}`) && Path(`/dns-query`)" \
              --label="traefik.http.routers.adguard-doh.entrypoints=websecure" \
              --label="traefik.http.routers.adguard-doh.tls.certresolver=letsencrypt" \
              --label="traefik.http.routers.adguard-doh.tls.domains[0].main=adguard.{{ internal_domain }}" \
              --label="traefik.http.routers.adguard-doh.service=adguard-doh" \
              --label="traefik.http.services.adguard-doh.loadbalancer.server.port=8444" \
              --label="traefik.tcp.routers.adguard-dot.rule=HostSNI(`adguard.{{ internal_domain }}`)" \
              --label="traefik.tcp.routers.adguard-dot.entrypoints=dns-over-tls" \
              --label="traefik.tcp.routers.adguard-dot.tls.certresolver=letsencrypt" \
              --label="traefik.tcp.routers.adguard-dot.tls.domains[0].main=adguard.{{ internal_domain }}" \
              --label="traefik.tcp.routers.adguard-dot.service=adguard-dot" \
              --label="traefik.tcp.services.adguard-dot.loadbalancer.server.port=8530" \
              --label="traefik.udp.routers.adguard-doq.entrypoints=dns-over-quic" \
              --label="traefik.udp.routers.adguard-doq.service=adguard-doq" \
              --label="traefik.udp.services.adguard-doq.loadbalancer.server.port=8531" \
              docker.io/adguard/adguardhome:{{ adguard_version }}
      ExecStop=/usr/bin/podman stop \
              --ignore -t 10 \
              --cidfile=%t/%n.ctr-id
      ExecStopPost=/usr/bin/podman rm \
              -f \
              --ignore -t 10 \
              --cidfile=%t/%n.ctr-id
      Type=notify
      NotifyAccess=all

      [Install]
      WantedBy=default.target
    dest: /etc/systemd/system/adguardhome.service
    mode: "0644"
  register: adguardhome_service_unit
  notify: Reload systemd daemons for adguard role

- name: Flush the handlers for adguard role
  ansible.builtin.meta: flush_handlers

- name: Enable and start adguardhome service
  ansible.builtin.systemd_service:
    name: adguardhome.service
    enabled: true
    state: started
