---
- name: Reload systemd daemons for ingress role
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart WAF dummy service
  ansible.builtin.service:
    name: waf-dummy.service
    state: restarted

- name: Restart traefik-socket-proxy service
  ansible.builtin.service:
    name: traefik-socket-proxy.service
    state: restarted

- name: Restart ModSecurity WAF service
  ansible.builtin.service:
    name: modsecurity-waf.service
    state: restarted

- name: Restart Traefik service
  ansible.builtin.service:
    name: traefik.service
    state: restarted

- name: Restart Traefik network
  ansible.builtin.systemd_service:
    state: restarted
    name: traefik-network

- name: Restart WAF network
  ansible.builtin.systemd_service:
    state: restarted
    name: waf-network