views:
  - title: Home
    badges: []
    sections:
      - type: grid
        cards:
          - show_state: true
            show_name: true
            camera_view: live
            fit_mode: cover
            type: picture-entity
            entity: camera.tapo_c230_mainstream
            name: Tapo Salotto
            camera_image: camera.tapo_c230_mainstream
            grid_options:
              columns: full
              rows: 8
        column_span: 3
