---
# Disabled until Bitwarden Secret manager will fix the bug to access
# multiple variables in the same block.
# https://community.bitwarden.com/t/bitwarden-lookup-plugin-for-ansible-causes-panick-errors-and-a-worker-was-found-in-a-dead-state/64579/7
# - name: Check required variables
#   fail:
#     msg: >
#       The variables 'wan_interface', 'pppoe_username', 'pppoe_password', 'internal_interface',
#       'internal_network_cidr', 'internal_gateway', 'internal_network_dhcp_start',
#       'internal_network_dhcp_end' are required.
#   when: >
#     wan_interface == '' or
#     internal_interface == '' or
#     pppoe_username == '' or
#     pppoe_password == '' or
#     internal_network == '' or
#     internal_network_netmask == '' or
#     internal_gateway == '' or
#     internal_network_dhcp_start == '' or
#     internal_network_dhcp_end == ''

- name: Ensure systemd-networkd-wait-online waits for the right interface
  ansible.builtin.lineinfile:
    path: /usr/lib/systemd/system/systemd-networkd-wait-online.service
    regexp: ^ExecStart.+
    line: /usr/lib/systemd/systemd-networkd-wait-online --interface={{ internal_interface }}

- name: Configure DNS
  ansible.builtin.import_tasks: configure-dns.yaml

- name: Create VLAN config
  ansible.builtin.copy:
    content: |
      [connection]
      id=vlan
      type=vlan
      autoconnect=true
      autoconnect-retries=0

      [vlan]
      id=835
      parent={{ wan_interface }}
      flags=1

      [ipv4]
      method=disabled

      [ipv6]
      method=ignore
      addr-gen-mode=default

      [ethernet]

      [proxy]
    dest: /etc/NetworkManager/system-connections/vlan.nmconnection
    mode: "0600"

- name: Create PPPOE connection config
  ansible.builtin.copy:
    content: |
      [connection]
      id=pppoe-ftth
      type=pppoe
      interface-name=ftth
      autoconnect=true
      autoconnect-retries=0

      [ipv4]
      method=auto

      [ipv6]
      method=auto
      addr-gen-mode=default

      [ethernet]

      [pppoe]
      parent={{ wan_interface }}.835
      password="{{ pppoe_password }}"
      username="{{ pppoe_username }}"

      [proxy]
    dest: /etc/NetworkManager/system-connections/pppoe.nmconnection
    mode: "0600"

# Required for VLAN tagging
- name: Load kernel module 8021q
  community.general.modprobe:
    name: 8021q
    state: present

- name: Create /etc/modules-load.d/8021q.conf
  ansible.builtin.copy:
    content: 8021q
    dest: /etc/modules-load.d/8021q.conf
    mode: "0644"

- name: Install iproute2
  ansible.builtin.apt:
    name: iproute2
    state: present
    update_cache: true

- name: Install network-manager
  ansible.builtin.apt:
    name: network-manager
    state: present
    update_cache: true

- name: Configure Network Manager
  ansible.builtin.copy:
    content: |
      [main]
      plugins=ifupdown,keyfile
      monitor-connection-files=yes

      [ifupdown]
      managed=false

      [device]
      wifi.scan-rand-mac-address=no
    dest: /etc/NetworkManager/NetworkManager.conf
    mode: "0644"
  notify:
    - Restart NetworkManager service

- name: Flush handlers to restart NetworkManager
  ansible.builtin.meta: flush_handlers

# Enable IP forwarding
- name: Configure routing table
  ansible.builtin.copy:
    content: |
      net.ipv4.ip_forward=1
    dest: /etc/sysctl.d/20-ip-forward.conf
    mode: "0644"

- name: Enable IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: 1
    state: present

- name: Install nftables
  ansible.builtin.apt:
    name: nftables
    state: present
    update_cache: true

- name: Install conntrack
  ansible.builtin.apt:
    name: conntrack
    state: present
    update_cache: true

- name: Create /app/nftables-geoip
  ansible.builtin.file:
    path: /app/nftables-geoip
    state: directory
    mode: "0700"

- name: Create /app/nftables-geoip/ip-lists
  ansible.builtin.file:
    path: /app/nftables-geoip/ip-lists
    state: directory
    mode: "0700"

- name: Clone nftables-geoip
  ansible.builtin.git:
    repo: https://github.com/pvxe/nftables-geoip.git
    dest: /app/nftables-geoip/repo
    single_branch: true
    version: master
    force: true

- name: Generate list of allowed IPs
  ansible.builtin.shell: |
    /app/nftables-geoip/repo/nft_geoip.py --download -c es,fr,pt,it,de,ie,gb,ch,se,no --output-dir /app/nftables-geoip/ip-lists --file-location /app/nftables-geoip/repo/location.csv

- name: Create override directory for nftables service
  ansible.builtin.file:
    path: /etc/systemd/system/nftables.service.d
    state: directory
    mode: "0755"

- name: Ensure that nftables start after file system has been mounted
  ansible.builtin.template:
    src: nftables.service.override.conf.j2
    dest: "/etc/systemd/system/nftables.service.d/override.conf"
    mode: "0600"

- name: Reload systemd daemons for nftables
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Configure NAT and firewall rules with nftables
  ansible.builtin.blockinfile:
    path: /etc/nftables.conf
    backup: true
    create: true
    insertbefore: EOF
    block: "{{ lookup('template', 'nftables-rules.j2') }}"

- name: Reload nftables
  ansible.builtin.command: nft -f /etc/nftables.conf

- name: Enable nftables on boot
  ansible.builtin.service:
    name: nftables
    state: started
    enabled: true

- name: Install Kea
  ansible.builtin.apt:
    name: isc-dhcp-server
    state: present
    update_cache: true

- name: Configure DHCP server interface
  ansible.builtin.lineinfile:
    path: /etc/default/isc-dhcp-server
    line: INTERFACESv4="{{ internal_interface }}"
    create: true
    regexp: ^INTERFACESv4=

- name: Configure DHCP server
  ansible.builtin.copy:
    content: |
      subnet {{ internal_network }} netmask {{ internal_network_netmask }} {
        range {{ internal_network_dhcp_start }} {{ internal_network_dhcp_end }};
        option subnet-mask {{ internal_network_netmask }};
        option routers {{ internal_gateway }};
        option domain-name-servers 172.16.255.254, 1.1.1.1, 8.8.8.8;
      }
    dest: /etc/dhcp/dhcpd.conf
    mode: "0644"
    backup: true
  notify:
    - Restart DHCP service

- name: Set DHCP status facts
  ansible.builtin.set_fact:
    _dhcp_service_enabled: "{{ true if network_gateway_role == 'primary' else false }}"
    _dhcp_service_state: "{{ 'started' if network_gateway_role == 'primary' else 'stopped' }}"

- name: Enable DHCP service
  ansible.builtin.service:
    name: isc-dhcp-server
    enabled: true
    state: started

- name: Disable DHCP6 service
  ansible.builtin.service:
    name: isc-dhcp-server6
    enabled: false
    state: stopped

- name: SSH hardening
  ansible.builtin.import_tasks: hardening-ssh.yaml

- name: Dynamic DNS
  ansible.builtin.import_tasks: configure-dyn-dns.yaml

- name: Configure VRRP
  ansible.builtin.import_tasks: vrrp.yaml
  when: network_gateway_role is defined and network_gateway_role
