---
apiVersion: v1
kind: Secret
metadata:
  name: sungrow-exporter-secret
  namespace: {{ sungrow_exporter_namespace }}
  labels:
    app.kubernetes.io/name: sungrow-exporter
type: Opaque
stringData:
  ISOLARCLOUD_APP_KEY: "{{ sungrow_exporter_app_key }}"
  ISOLARCLOUD_APP_SECRET: "{{ sungrow_exporter_app_secret }}"
  ISOLARCLOUD_USER_ACCOUNT: "{{ sungrow_exporter_user_account }}"
  ISOLARCLOUD_USER_PASSWORD: "{{ sungrow_exporter_user_password }}"
  DATABASE_URL: "postgresql+asyncpg://{{ sungrow_exporter_db_user }}:{{ sungrow_exporter_db_password }}@{{ sungrow_exporter_db_host }}:{{ sungrow_exporter_db_port }}/{{ sungrow_exporter_db_name }}"
