{
  "allow_user_autostart": true,
  "allow_user_autostop": true,
  "allow_user_cancel_workspace_jobs": true,
  "description": "Template created with Ansible",
  "disable_everyone_group_access": true,
  "display_name": "{{ template_name }}",
  "name": "{{ template_name }}",
  "require_active_version": true,
  "template_version_id": "{{ matching_remote_template_version_id }}"
}