NETBIRD_MGMT_API_ENDPOINT=https://netbird.{{ internal_domain }}:443
NETBIRD_MGMT_GRPC_API_ENDPOINT=https://netbird.{{ internal_domain }}:443
AUTH_AUDIENCE={{ vpn_netbird_idp_client_id }}
AUTH_CLIENT_ID={{ vpn_netbird_idp_client_id }}
AUTH_CLIENT_SECRET=
AUTH_AUTHORITY=https://idp.{{ internal_domain }}
USE_AUTH0=false
AUTH_SUPPORTED_SCOPES=openid profile email offline_access api
AUTH_REDIRECT_URI=/auth
AUTH_SILENT_REDIRECT_URI=/silent-auth
NETBIRD_TOKEN_SOURCE=accessToken
