{
  "ManagementURL": {
      "Scheme": "https",
      "Opaque": "",
      "User": null,
      "Host": "netbird.{{ internal_domain }}:443",
      "Path": "",
      "RawPath": "",
      "OmitHost": false,
      "ForceQuery": false,
      "RawQuery": "",
      "Fragment": "",
      "RawFragment": ""
  },
  "AdminURL": {
      "Scheme": "https",
      "Opaque": "",
      "User": null,
      "Host": "netbird.{{ internal_domain }}:443",
      "Path": "",
      "RawPath": "",
      "OmitHost": false,
      "ForceQuery": false,
      "RawQuery": "",
      "Fragment": "",
      "RawFragment": ""
  },
  "ServerSSHAllowed": false
}