# General Gluetun Settings
VPN_SERVICE_PROVIDER=protonvpn
VPN_TYPE=wireguard
# Enable the HTTP proxy/health check internally (required for healthcheck command)
HTTPPROXY=on
HTTPPROXY_PORT=8888
# Shadowsocks is optional, disable if not used
SHADOWSOCKS=off

# Wireguard Configuration
WIREGUARD_PRIVATE_KEY={{ vpn_protonvpn_wireguard_privatekey }}

# Location Selection (Optional - Example usage)
SERVER_COUNTRIES=Italy
SERVER_HOSTNAMES=node-it-04.protonvpn.net