---
- name: Set kernel hardening sysctl flags
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/99-kernel-hardening.conf
    state: present
    reload: true
  loop:
    # Disable autoload of TTY line disciplines
    - { key: "dev.tty.ldisc_autoload", value: "0" }

    # Protect against writing to non-owned FIFO and regular files
    - { key: "fs.protected_fifos", value: "2" }
    - { key: "fs.protected_regular", value: "2" }

    # Protect against creating links of non-owned source files
    - { key: "fs.protected_hardlinks", value: "1" }
    - { key: "fs.protected_symlinks", value: "1" }

    # Miscellaneous
    - { key: "fs.suid_dumpable", value: "0" }
    - { key: "kernel.core_uses_pid", value: "1" }
    - { key: "kernel.ctrl-alt-del", value: "0" }
    - { key: "kernel.dmesg_restrict", value: "1" }
    - { key: "kernel.kptr_restrict", value: "2" }
    - { key: "kernel.perf_event_paranoid", value: "3" }
    - { key: "kernel.randomize_va_space", value: "2" }

    # Disable response to magical key combo
    - { key: "kernel.sysrq", value: "0" }

    # Network Hardening
    - { key: "kernel.unprivileged_bpf_disabled", value: "1" }
    - { key: "kernel.yama.ptrace_scope", value: "2" }
    - { key: "net.core.bpf_jit_harden", value: "2" }
    - { key: "net.ipv4.conf.all.rp_filter", value: "1" }
    - { key: "net.ipv4.conf.all.send_redirects", value: "0" }
    - { key: "net.ipv4.conf.default.accept_redirects", value: "0" }
    - { key: "net.ipv4.conf.default.accept_source_route", value: "0" }
    - { key: "net.ipv6.conf.all.accept_redirects", value: "0" }
    - { key: "net.ipv6.conf.default.accept_redirects", value: "0" }

    # For more info see:
    # - https://docs.kernel.org/admin-guide/sysctl/fs.html#protected-fifos
    # - https://sysctl-explorer.net/kernel/
