---
- name: Create cron job for update and reboot
  ansible.builtin.cron:
    name: update-reboot
    job: >
      DEBIAN_FRONTEND=noninteractive apt update &&
      DEBIAN_FRONTEND=noninteractive apt upgrade -y &&
      DEBIAN_FRONTEND=noninteractive apt autoremove -y &&
      DEBIAN_FRONTEND=noninteractive apt autoclean -y &&
      reboot
    minute: "00"
    hour: "03"
    weekday: "{{ system_update_day }}"
    state: present
    user: root
