---

- name: Copy the update and reboot script to the remote host
  ansible.builtin.copy:
    src: update-and-reboot.sh
    dest: /usr/local/bin/update-and-reboot.sh
    owner: root
    group: root
    mode: '0700'

- name: Create cron job for update and reboot
  ansible.builtin.cron:
    name: update-reboot
    job: >
      /usr/local/bin/update-and-reboot.sh
      {% if validate_health_before_update is defined and validate_health_before_update | length > 0 %}
      --validate-health {{ validate_health_before_update | join(',') }}
      {% endif %} | /usr/bin/logger -t 'update-and-reboot'
    minute: "00"
    hour: "03"
    weekday: "{{ system_update_day }}"
    state: present
    user: root

- name: Reboot Traefik
  ansible.builtin.cron:
    name: reboot-traefik
    job: systemctl restart traefik
    minute: "00"
    hour: "*/1"
    state: present
    user: root