---
apiVersion: v1
kind: Secret
metadata:
  name: zitadel-env
  namespace: "{{ k8s_idp_namespace }}"
type: Opaque
stringData:
  ZITADEL_PORT: "8080"
  ZITADEL_EXTERNALDOMAIN: "{{ k8s_idp_external_domain }}"
  ZITADEL_EXTERNALSECURE: "{{ k8s_idp_external_secure }}"
  ZITADEL_EXTERNALPORT: "{{ k8s_idp_external_port }}"
  ZITADEL_TLS_ENABLED: "false"
  ZITADEL_DATABASE_POSTGRES_HOST: "{{ k8s_idp_database_host }}"
  ZITADEL_DATABASE_POSTGRES_PORT: "{{ k8s_idp_database_port }}"
  ZITADEL_DATABASE_POSTGRES_DATABASE: "{{ k8s_idp_database_name }}"
  ZITADEL_DATABASE_POSTGRES_USER_USERNAME: "{{ k8s_idp_database_username }}"
  ZITADEL_DATABASE_POSTGRES_USER_PASSWORD: "{{ idp_zitadel_db_password }}"
  ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE: "disable"
  ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME: "{{ k8s_idp_database_admin_username }}"
  ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD: "{{ idp_zitadel_db_admin_password }}"
  ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE: "disable"
  ZITADEL_INSTRUMENTATION_METRIC_EXPORTER_TYPE: "prometheus"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_SMTP_HOST: "live.smtp.mailtrap.io:587"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_SMTP_USER: "smtp@mailtrap.io"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_SMTP_PASSWORD: "{{ idp_api_key }}"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_TLS: "true"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_FROM: "{{ idp_smtp_from }}"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_REPLYTOADDRESS: "{{ idp_smtp_from }}"
  ZITADEL_DEFAULTINSTANCE_SMTPCONFIGURATION_FROMNAME: "zitadel"
  ZITADEL_DEFAULTINSTANCE_DOMAINPOLICY_SMTPSENDERADDRESSMATCHESINSTANCEDOMAIN: "false"

  # Bootstrap vars (only used if running start-from-init on an empty DB)
  ZITADEL_FIRSTINSTANCE_ORG_NAME: "{{ k8s_idp_firstinstance_org_name }}"
  ZITADEL_FIRSTINSTANCE_MACHINEKEYPATH: "{{ k8s_idp_firstinstance_machinekey_path }}"
  ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_USERNAME: "{{ k8s_idp_firstinstance_machine_username }}"
  ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME: "{{ k8s_idp_firstinstance_machine_name }}"
  ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINEKEY_TYPE: "{{ k8s_idp_firstinstance_machinekey_type }}"
  ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME: "{{ k8s_idp_firstinstance_human_username }}"
  ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD: "{{ idp_zitadel_admin_password }}"
  ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORDCHANGEREQUIRED: "{{ k8s_idp_firstinstance_human_password_change_required }}"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zitadel-machinekey
  namespace: "{{ k8s_idp_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "{{ k8s_idp_storage_class }}"
  resources:
    requests:
      storage: 100Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zitadel
  namespace: "{{ k8s_idp_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zitadel
  template:
    metadata:
      labels:
        app: zitadel
    spec:
      priorityClassName: "{{ k8s_idp_priority_class_name }}"
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: zitadel
          image: "ghcr.io/zitadel/zitadel:{{ k8s_idp_version }}"
          command: ["/app/zitadel", "start-from-init", "--masterkeyFile", "/zitadel.masterkey"]
          envFrom:
            - secretRef:
                name: zitadel-env
          volumeMounts:
            - name: masterkey
              mountPath: /zitadel.masterkey
              subPath: masterkey
              readOnly: true
            - name: machinekey
              mountPath: /machinekey
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /debug/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 5
            failureThreshold: 6
          resources:
            {{ k8s_idp_resources | to_nice_yaml(indent=2) | indent(12) }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: true
            runAsUser: 1000
            seccompProfile:
              type: RuntimeDefault
      volumes:
        - name: masterkey
          secret:
            secretName: zitadel-masterkey
        - name: machinekey
          persistentVolumeClaim:
            claimName: zitadel-machinekey
---
apiVersion: v1
kind: Service
metadata:
  name: zitadel
  namespace: "{{ k8s_idp_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/service.serversscheme: h2c
spec:
  selector:
    app: zitadel
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: zitadel
  namespace: "{{ k8s_idp_namespace }}"
spec:
  ingressClassName: traefik
  rules:
    - host: "{{ k8s_idp_external_domain }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: zitadel
                port:
                  number: 8080
